@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Author mail:</strong>   <a href="mailto:e.smirnov@protonmail.com">e.smirnov@protonmail.com</a><br />
    <strong>Mail for complaints and wishes:</strong> <a href="mailto:your.mail@very.important.to.us">your.mail@very.important.to.us</a>
</address>